*{margin: 0px; padding: 0px; list-style-type: none;}
body{
    background-color: #faf3f3  ;
    color: black;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-image: url(gif/Espaço\ dos\ Autores.gif);
    background-size: cover;
    position: relative;
    width: 100vw;/*Viewport width*/
    height: 90vh;/*Viewport height*/
}
nav{
    background-color: #38B3FF  ;
    color: white;
}
nav li:hover{
    background-color: #ffb515;
}
.ajuste{
margin-top: 60px;
}
.rize{
    resize: none;
}
.ico2{
	width: 70px;
	height: 30px;
	padding: 0px 20px;
}
.pointer{
    cursor: pointer;
}